<p  style="text-align: center; margin-top: 5%; font-size: 20px; font-weight: bold;">CODE TRANSFERT</p>
<div class="container">
     <div *ngIf="codeerreur===-1" style="color: red; text-align: center; background-color: brown; border-radius: 10px; padding: 5%;"> login ou mot de pass incorrect </div>
    <form >
      <label  for="fname">code transfert</label>
      <input type="email" id="fname" required [(ngModel)]="code"  name="code " placeholder="Entrer le code du transfert">

  
      <input type="submit"  (click)="codecheck()" value="Check code">
    </form>
  </div>


  <table  *ngIf="codeerreur===1" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code Transfert</th>
        <th scope="col">Montant Transfert</th>
        <th scope="col">Etat Transfert</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{transfert.codeTransfert}}</td>
        <td>{{transfert.sommeTransfert}}</td>
        <td *ngIf="transfert.etatTransfert===false"><a class="waves-effect waves-light btn"  (click)="retirer_transfert()" >A RETIRER</a></td>
        <td *ngIf="transfert.etatTransfert===true"> RETIRÉ</td>
        
      
        
      </tr>
    
    </tbody>
  </table>