
<p style=" text-align:  center; margin-top: 5%;"> Bonjour MR {{clientnom}} on vous souhaite la Bienvenu sur notre site de transfert</p>
<p  style="text-align: center; margin-top: 5%; font-size: 20px; font-weight: bold;">Ajouter un beneficiare</p>
<div class="container">
    <form >
       

      <label  for="fname">Your name</label>
      <input type="text" id="fname" required  name="nom" placeholder="Your name">

      <label  for="fname">Your second name</label>
      <input type="text" id="fname" required  name="prenom" placeholder="Your second name">

      <label  for="fname">Your phone</label>
      <input type="text" id="fname" required  name="telphone" placeholder="Your phone">


      <label  for="fname">Your Adressel</label>
      <input type="text" id="fname" required  name="Adresse" placeholder="Your adresse">

      
      <input type="submit"  (click)="Ajouter_beneficiaire()"  value="Submit">
    </form>
  </div>