
<p style=" text-align:  center; margin-top: 5%;"> Bonjour MR {{this.beneficiaire.nomBeneficiaire}} on vous souhaite la Bienvenu sur notre site de transfert</p>
<p  style="text-align: center; margin-top: 5%; font-size: 20px; font-weight: bold;"></p>



<a class="waves-effect waves-light btn" style="margin-left: 45%; margin-bottom: 5%;" routerLink="/transfert" >FAIRE UN TRANSFERT</a>
<a class="waves-effect waves-light btn" style="margin-left: 45%; margin-bottom: 5%;" routerLink="/codecheck" >RETIRER DE L'ARGENT</a>

<div class="container">
    <form >
       

      <label  for="fname">Your name</label>
      <input type="text" id="fname" required [(ngModel)]= "beneficiaire.nomBeneficiaire" name="nom" placeholder="Your name">

      <label  for="fname">Your second name</label>
      <input type="text" id="fname" required [(ngModel)]= "beneficiaire.prenomBeneficiaire"  name="prenom" placeholder="Your second name">

      <label  for="fname">Your phone</label>
      <input type="text" id="fname" required  [(ngModel)]= "beneficiaire.telBeneficiaire" name="telphone" placeholder="Your phone">


      <label  for="fname">Your Adressel</label>
      <input type="text" id="fname" required  [(ngModel)]= "beneficiaire.adresseBeneficiaire"  name="Adresse" placeholder="Your adresse">

      
      <input type="submit"  (click)="Ajouter_beneficiaire()"  value="AJOUTER BENEFICIAIRE">
    </form>
  </div>